:root {
    /* Biến toàn cục, đặt tên biến để sau dấu -- */
    --text-color: #000;
    --sidebar-bg: #000;
    --sidebar-hover-bg: #222;
    --sidebar-font-color: #fff;
    --content-layout-bg: #444;
    --content-story-bg: #555;
    --scrollbar-color: #fff;
    --content-tab-bg: #888;
    --content-tab-nav-bg: #999;
    --content-tab-nav-active: #ddd;
    --content-font-color: #000;
    --text-font: Arial, Helvetica, sans-serif;
}

/* reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--text-font);
    color: var(--text-color);
}

#main {
    width: 100vw;
    height: 100vh;
    display: block;
}

#sidebar {
    width: 60px;
    height: 100vh;
    background-color: var(--sidebar-bg);
    position: absolute;
    z-index: 10;
}

#sidebar:hover {
    width: 300px;
}

#sidebar-menu>li {
    cursor: pointer;
}

#sidebar-menu>li:hover {
    background-color: var(--sidebar-hover-bg);
}

#sidebar-menu>li a {
    color: var(--sidebar-font-color);
    line-height: 60px;
    font-size: 30px;
    padding: 15px;
    text-decoration: none;
}

#sidebar-menu>li label {
    display: none;
    padding-left: 30px;
    cursor: pointer;
}

#sidebar:hover #sidebar-menu>li label {
    display: inline;
}

#content-layout {
    width: calc(100vw - 60px);
    height: 100vh;
    background-color: var(--content-layout-bg);
    position: absolute;
    left: 60px;
    display: flex;
}

#content {
    width: 1200px;
    height: 550px;
    margin: auto;
    display: flex;
}

#content-story {
    background-color: var(--content-story-bg);
    flex-basis: 65%;
}

#content-story>div {
    height: 90px;
    display: flex;
}

#content-story>div>h2 {
    margin: auto;
    font-size: 45px;
    padding: 0px 50px 0px;
}

#content-story>p {
    height: 420px;
    font-size: 30px;
    margin: 10px 15px 30px 30px;
    padding-right: 15px;
    overflow: auto;
}

#content-story>p::-webkit-scrollbar,
#content-tab-body>ul::-webkit-scrollbar {
    width: 6px;
}

#content-story>p::-webkit-scrollbar-track,
#content-tab-body>ul::-webkit-scrollbar-track {
    background: none;
}

#content-story>p::-webkit-scrollbar-thumb,
#content-tab-body>ul::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border-radius: 10px;
}

#content-tab {
    background-color: var(--content-tab-bg);
    flex-basis: 35%;
    position: relative;
}

#content-tab-nav ul {
    position: absolute;
    width: 100%;
    top: -30px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

#content-tab-nav ul button {
    flex-basis: 30%;
    background-color: var(--content-tab-nav-bg);
    color: var(--content-font-color);
    font-size: 20px;
    font-weight: bolder;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 10px;
}

#content-tab-nav ul button:hover {
    background-color: var(--content-tab-nav-active);
}

#content-tab-nav ul button.active {
    background-color: var(--content-tab-nav-active);
}

#content-tab-body>ul {
    display: none;
    position: absolute;
    list-style-type: none;
    width: calc(100%-60px);
    height: 490px;
    overflow: auto;
    margin: 30px 15px 30px 30px;
    padding-right: 15px;
    z-index: 1;
    font-size: 25px;
}

#content-tab-body>ul#body-idiom {
    display: flex;
}

#content-tab-body>ul#body-idiom>div {
    margin: auto;
}

#content-tab-body>ul .vocabulary-word {
    font-size: 30px;
}

#content-tab-body>ul .vocabulary-meaning {
    font-size: 25px;
}